{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>{{username}} 様</h1>
    <p>
      処方箋受取予約日が確定しました。
      以下の日程となりますので、お忘れのないようにお受け取りください。
    </p>
    <p>{{datetime_of_receipt}}</p>
    <p>
      申請いただいた日程での受取ができなくなってしまった場合には、
      お手数ですが処方箋受取日の修正申請ををお願いいたします。
    </p>
    <a href="{{prescription_receipt_application_url}}"
      >{{prescription_receipt_application_url}}</a
    >

    <p style="padding: 20px 0px">////////////</p>
    <p>じぶん薬局運営事務局</p>
    <p>住所：〒254-0014\n神奈川県平塚市四之宮1-4-13</p>
    <p>E-mail：info@orthros.com</p>
  </body>
</html>
