{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>
      じぶん薬局における、ご利用パスワードの再設定を受付けました。
    </h1>
    <p>
      以下のリンクをクリックorタップいただくと、パスワード再設定画面に移動します。</br>
      そちらからパスワードの再設定を完了してください。</br>
    </p>
    <a href="{{password_link}}">{{password_link}}</a>
    <p>
      このメールに心当たりのない方は、お手数ですが本メールを破棄してください。
      また、本メールに関するお問い合わせは運営事務局までお願いいたします。
    </p>
    <p style="padding: 20px 0px">////////////</p>
    <p>じぶん薬局運営事務局</p>
    <p>住所：〒254-0014\n神奈川県平塚市四之宮1-4-13</p>
    <p>E-mail：info@orthros.com</p>
  </body>
</html>
