{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>"じぶん薬局運営事務局です。</h1>
    <p>
      会員登録は正常に完了しました。
      以下のアドレスからマイページにアクセスいただき、
      ご登録いただいたメールアドレスとパスワードでログインしてください。
    </p>
    <a href="{{login_url}}">{{login_url}}</a>
    <p>
      マイページの情報を正しくご登録いただければ、より便利にサービスをご利用いただくことができます。
    </p>
    <p style="padding: 20px 0px">////////////</p>
    <p>じぶん薬局運営事務局</p>
    <p>住所：〒254-0014\n神奈川県平塚市四之宮1-4-13</p>
    <p>E-mail：info@orthros.com</p>
  </body>
</html>
