{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<h3>{{inquiry_obj.name}} 様</h3>

<div class="container">
  <form action="">
    <h5>この度はじぶん薬局にお問い合わせをいただきありがとうございます。</h5><br/>
    <h5>お問い合わせ内容は、運営事務局にて確認後、2営業日以内にご回答いたします。</h5>

    <h5>今回お問い合わせ頂きました内容は以下になります。</h5>
    <p>
        <h5>お問い合わせ内容</h5>
        <h5>{{inquiry_obj.contents_of_inquiry}}</h5>

        <p>2営業日を過ぎても回答がないなどの場合、お手数ですが以下の事務局まで、<br/>
        お問い合わせをよろしくお願いいたします。<br/><br/>

      </h4>/////////////////</h4><br/>
      </h4>じぶん薬局運営事務局</h4><br/>
      </h4>住所: 〒254-0014\n神奈川県平塚市四之宮1-4-13</h4><br>
      
      </h4>E-mail: info@orthros.com</h4><br>
    </p>
  </form>
</div>

</body>
</html>